/* Global Styles */
*{
    box-sizing: border-box;
    font-family: sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
}

.container{
    max-width: 480px;
    margin: auto;
}

body, p, h1, h2, h3, h4, h5, h6,
ul, li, a, button, form, fieldset, legend,
input, div, header{
    padding: 0;
    margin: 0;
}

html, body{
    height: 100%;
}

ul{
    list-style: none;   
}

a{
    text-decoration: none;
}
body button:disabled{
    color: gray;
}

.app-button{
    border: none;
    background: black;
    color: white;
    padding: 8px 20px;
    text-transform: uppercase;
    font-size: 0.9em;
    border-radius: 25px;
    cursor: pointer;
    font-weight: 600;
}

.filter-drop-down-menu{
    margin-right: 10px;
    padding: 20px 15px;
    position: absolute;
    width: 85%;
    max-width: 450px;
    border: 1px solid black;
    background: silver;
    z-index: 1;
}
.app-info{
    padding: 30px;
    font-size: .9em;
    line-height: 1.3em;
}
.submit-button-div{
    text-align: center;
}


/* filter menu drop down styling */
.calorie-filter{
    text-align: center;
    align-self: center;    
    padding: 10px 10px;
}
.calorie-filter-header{
    font-size: 1em;
    padding-top: 7px;
}
.calorie-filter label{
    display: flex;
    flex-direction: column;
}
.calorie-filter label span{
    display: inline-block;
    text-align: right;
    font-size: .7em;
    text-transform: uppercase;
    padding-top: 3px;
    padding-right: 15px;
}
.calorie-label-wrapper{
    display: flex;
    flex-direction: column;
}
.calorie-filter label input[type="number"]{
    padding: 5px;
    text-align: right;
    margin-top: 10px;
    width: 100%;
    border: none;
}

.diet-filter{
    padding: 10px 30px;
    display: flex;
    flex-direction: column;
}
.diet-filter-header{
    font-size: 1em;
    padding: 7px 0px;
}
.diet-filter label{
    margin-top: 5px;
    font-size: .8em;
}
.allergies-filter label{
    padding: 10px 20px 0px 20px;
    font-size: .8em;
}
.diet-filter label input,
.allergies-filter label input{
    margin-right: 5px;
    position: relative;
    top: -1px;
}
.allergies-label-wrapper{
    padding: 5px 0px 20px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.allergies-filter{
    margin-top: 20px;
}
.allergies-filter-header{
    font-size: 1em;
    width: 100%;
    text-align: center;
}
.calorie-diet-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid black;
    padding-bottom: 10px;
}
.calorie-wrapper{
    width: 40%;
    display:flex;
    justify-content: center;
}
.diet-wrapper{
    width: 60%;
    display:flex;
    justify-content: center;
}
.filter-buttons-div
{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

/* Landing Page */
.landing-page{
    height: 100%;
}
.header-section{
    display: flex;
    align-items: center;
}
.logo{
    text-align: center;
    font-size: 1.6em;
    text-transform: uppercase;
    font-weight: 800;
    padding: 20px;
}
.search-form fieldset,
.add-item-form fieldset{
    border: none;
}
.search-form fieldset{
    padding: 10px;
}
.search-textbox,
.add-item-textbox{
    width: 100%;
    padding: 10px 15px;
    font-size: 1em;
    margin-bottom: 5px;
    cursor: pointer;
    border: 1px solid rgba(223,225,229,1);
    
}
.search-textbox:focus,
.search-textbox:hover,
.add-item-textbox:focus,
.add-item-textbox:hover{
    box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
    border-color: rgba(223,225,229,0);
}
.search-textbox:focus{
    cursor: text;
}
.filter-grocery-wrapper{
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
}
.filter-button,
.grocery-list-button,
.submit-button{
    position: relative;
    border: none;
    text-decoration: underline;
    color: blue;
    background: inherit;
    font-size: .9em;
    padding: 5px 15px;
    z-index: 2;
    top:1px;
    cursor: pointer;
    margin: 1px;
}
.clicked{
    margin: 0px;
    border: 1px solid black;
    border-bottom-color: silver;
    background: silver;
}
.filter-drop-down-menu{
    display: none;
}

.cal-error{
    display: none;
    color: maroon;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 0.7em;
    padding-top: 10px;
}

/* Search Result styles */
.recipe-button{
    border: none;
    position: relative;
    background: inherit;
    width: 95%;
    cursor: pointer;
    margin: 40px 10px;
}
.recipe-button:hover .view-recipe-wrapper,
.recipe-button:focus .view-recipe-wrapper
{
    opacity: 1;
}
.recipe-button:hover .recipe,
.recipe-button:focus .recipe{
    opacity: 0.8;
}
.recipe{
    transition: .5s ease;
    width:100%;
    opacity: 1;
}
.recipe img{
    width: 100%;
    border: 2px solid black;
}
.recipe-info-container{
    position: relative;
}
.recipe-name{
    text-align: left;
    position: absolute;
    top: 0px;
    left: 0px;
    padding: 15px 25px;
    width: 100%;
    background: rgba(255,255,255,.7);
    text-transform: uppercase;
    font-size: 1.5em;
    font-weight: 600;
    letter-spacing: 0.2em;
    border: 2px solid black;
    border-bottom: none;
}
.recipe-info-wrapper{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    font-size: 1.3em;
    border: 2px solid;
    background: #f2f2f2;
}
.view-recipe-wrapper{
    transition: .5s ease;
    text-align: center;
    opacity: 0;
    position: absolute;
    top: 0%;
    width: 100%;
    background: rgba(23,23,23,.5);
    color: white;
    font-weight: 800;
    font-size: 2.3em;
    text-transform: uppercase;
    padding-top: 50%;
    height: 100%;
}
.fetching-info{
    min-height: 400px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.fetching-info img{
    width: max-content;
    align-self: center;
    margin: 50px 0px;
}

.no-recipe-found{
    font-size: 1.1em;
    line-height: 1.5em;
    padding: 30px;
    margin-top: 50px;
}
.q{
    font-weight: 600;
}

/* Styling for Recipe Page*/
.recipe-page-name{
    padding: 10px;
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: .1em;
    border-bottom: 2px solid;
    margin: 10px auto;
}
.recipe-page-image{
    width: 100%;
    padding: 5px;
    box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
    border-color: rgba(223,225,229,0);
    background: white;
    border-radius: 10px;
}
.ingredients{
    padding: 20px 8px;
}
.ing-heading-wrapper{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 2px solid;
    align-items:center;
}
.add-all-button,
.add-item-submit-button{
    border: none;
    padding: 8px 25px;
    cursor: pointer;
    background: darkorange;
    text-transform: uppercase;
    font-weight: 600;
}
.ing-list-wrapper{
    padding: 20px 10px;
}
li.ing-list-item {
    display: flex;
    padding: 10px 0px;
    justify-content: space-between;
}
.items-list-item{
    display: flex;
    padding: 10px 0px;
    justify-content: space-between;
}
.ing-name,
.item-name {
    align-self: center;
    flex: 6;
    padding-right: 5px;
}
button.remove-button,
button.add-ing-button,
button.grocery-page-remove-button{
    padding: 2px 7px;
    text-transform: uppercase;
    font-size: 1.1em;
    font-weight: 600;
    background: darkorange;
    align-self: center;
    cursor: pointer;
    font-family: 'Courier New';
}
.instruction-header{
    padding: 10px;
    border-bottom: 2px solid black;
}
.ins-link-wrapper{
    padding: 10px;
    text-decoration: underline;
    margin-bottom: 30px;
}
/* Nutritional Facts Table */
.bold, .bold *{
    font-weight: 800;
}
.nutritional-facts-chart-wrapper{
    border: 1px solid black;
    margin: 10px;
    padding: 0.5rem;
    font-family: sans-serif;
    line-height: 1.4;
    font-size: small;
}
.facts-header{
    font-size: 2rem;
    margin: 0 0 0.25rem 0;
}
.facts-header-wrapper{
    border-bottom: 10px solid black;
    padding: 0 0 0.25rem 0;
    margin: 0 0 0.5rem 0;
}
.brd-btm{
    border-bottom: 1px solid black;
}
.bold-brdr{
    border-bottom: 5px solid black;
}
.facts-cal-wrapper{
    font-size: 1.6em;
    padding: .1em;
}
.facts-cal-text,
.facts-cal-num{
    padding: 0px 0px 0px 10px !important;
}
.daily-val {
    text-align: right;
    padding: .4em .1em 0 0;
}
.mrgn-left{
    margin-left: 10px;
}
.facts-flex{
    display: flex;
    justify-content: space-between;
}
.facts-flex p{
    padding: .4em 0;
}
.sub-div-1{
    border-bottom: 1px solid black;
}
.sub-div-1 p{
    padding-bottom: 0em !important;
}
.sub-p-1{
    flex: 2;
    align-self:center;
}
.sub-p-2,
.sub-p-3,
.sub-p-4{
    flex: 1;
    text-align: left;
    align-self: center;
}
.facts-sub{
    font-size: 0.8em;
    border-top: 10px solid black;
}
.sub-tab{
    margin-left: 5px;
    margin-right: -5px;
}
.sub-p{
    padding: 5px;
}

/* Grocery List Style */
.grocery-list-page{
    margin: 0px 10px;
}
.add-item-form{
    padding: 40px 0px 20px 0px;
}
.add-item-form legend{
    padding: 10px;

}
.add-item-form-wrapper{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
img.empty-item-image {
    width: 100%;
}
h4.no-item-header,
h4.items-header {
    border-top: 2px solid black;
    padding: 30px;
    text-transform: uppercase;
    font-weight: 600;
}
p.img-source {
    position: relative;
    font-size: .6em;
    text-align: right;
    top: -30px;
    color: white;
    padding: 10px;
}
p.img-source a{
    color: white;
    text-decoration: underline;
}