/* Global Styles */
*{
    box-sizing: border-box;
    font-family: sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    font-family: 'Nunito', sans-serif;
    color: #00447F;
}

.container{
    max-width: 480px;
    margin: auto;
}

body, p, h1, h2, h3, h4, h5, h6,
ul, li, a, button, form, fieldset, legend,
input, div, header, img{
    padding: 0;
    margin: 0;
}

html, body{
    height: 100%;
}
body{
    background: #FFD700;
}
ul{
    list-style: none;   
}

a{
    text-decoration: none;
}
body button:disabled{
    color: gray;
}
.app-info{
    padding: 30px;
    font-size: .9em;
    line-height: 1.5em;
    letter-spacing: .04em;
    text-align: center;
}
.submit-button-div{
    text-align: center;
}


/* filter menu drop down styling */
.calorie-filter{
    text-align: center;
    align-self: center;
    padding: 10px 20%;
}
.calorie-filter-header{
    font-size: 1em;
    padding-top: 7px;
}
.calorie-filter label{
    display: flex;
    flex-direction: column;
}
.calorie-filter label span{
    display: inline-block;
    text-align: right;
    font-size: .7em;
    text-transform: uppercase;
    padding-top: 3px;
    padding-right: 15px;
}
.calorie-label-wrapper{
    display: flex;
    flex-direction: column;
}
.calorie-filter label input[type="number"]{
    padding: 5px;
    text-align: right;
    margin-top: 10px;
    width: 100%;
    border: none;
    color: #0F2591;
    font-weight: 800;
    font-size:.9em;
}

.diet-filter{
    padding: 10px 30px 20px 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.diet-filter-header{
    font-size: 1em;
    text-align: center;
    border-top: 1px solid;
    padding-top: 15px;
    width: 100%;
}
.diet-filter label, .allergies-label-wrapper label{
    padding: 5px;
    font-size: .8em;
    margin: 5px;
    background: #0065b8;
    color: white;
    cursor: pointer;
    flex-grow: 1;
}
.diet-filter label:hover, 
.allergies-label-wrapper label:hover{
    background: #0087f5;
}
.checked{
    background: #0087f5 !important;
}
.checkbox input:focus{
    background: #0087f5 !important;
}
.allergies-filter label{
    flex-shrink: 0;
}
.diet-filter label input,
.allergies-filter label input{
    margin-right: 5px;
    position: relative;
    top: -1px;
}
.allergies-label-wrapper{
    padding: 5px 30px 20px 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-shrink: 0;
    flex-wrap: wrap;
}
.allergies-filter{
    margin-top: 20px;
}
.allergies-filter-header{
    font-size: 1em;
    width: 100%;
    text-align: center;
}
.calorie-diet-wrapper{
    border-bottom: 1px solid #0F2591;
}
.diet-wrapper{
    flex: 3;
    justify-content: center;
}
.filter-buttons-div
{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

/* Landing Page */
.landing-page{
    height: 85%;
}
.landing-page .logo{
    font-size: 3.5em;
    letter-spacing: .1em;
}
.header-section{
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo {
    font-family: 'Indie Flower', cursive;
    text-align: center;
    font-size: 2.7em;
    text-transform: capitalize;
    font-weight: 800;
}
.search-form fieldset,
.add-item-form fieldset{
    border: none;
}
.search-form fieldset{
    padding: 10px;
}
.search-textbox,
.add-item-textbox
{
    width: 100%;
    padding: 10px 15px;
    font-size: 1em;
    cursor: pointer;
    border: 1px solid rgba(223,225,229,1);
    color: #0F2591;
    margin-bottom: 5px;
}
.search-textbox:focus,
.search-textbox:hover,
.add-item-textbox:focus,
.add-item-textbox:hover{
    box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
    border-color: rgba(223,225,229,0);
    background: #F2F2F2;
}
.search-textbox:focus{
    cursor: text;
}
.filter-grocery-wrapper{
    display: flex;
    justify-content: space-between;
    padding-top: 5px;
}
.filter-button,
.grocery-list-button,
.submit-button
{
    position: relative;
    border: none;
    color: white;
    font-size: .9em;
    padding: 5px 15px;
    z-index: 2;
    cursor: pointer;
    background: #0065b8;
    font-weight: 800;
    text-transform: uppercase;
}
.add-item-submit-button,
.app-button{
    border: none;
    color: white;
    font-size: .9em;
    padding: 5px 15px;
    cursor: pointer;
    background: #0065b8;
    font-weight: 800;
    text-transform: uppercase;
}
.filter-button:hover,
.filter-button:focus,
.grocery-list-button:hover,
.grocery-list-button:focus,
.submit-button:hover,
.submit-button:focus,
.add-item-submit-button:hover,
.add-item-submit-button:focus,
.app-button:hover,
.app-button:focus,
.clicked,
button.remove-button:hover,
button.add-ing-button:hover,
button.grocery-page-remove-button:hover,
button.remove-button:focus,
button.add-ing-button:focus,
button.grocery-page-remove-button:focus{
    background: #0087f5;
    transition: .2s;
}
button.grocery-list-button {
    margin: 0px 5px;
}
.filter-button svg {
    fill: white;
    position: relative;
    top: 3px;
}
.filter-drop-down-menu-wrapper {
    position: absolute;
    margin-right: 10px;
    max-width: 459px;
    z-index: 2;
}
.filter-drop-down-menu {
    display: none;
    padding: 0px 15px 20px 15px;
    z-index: 1;
    border: 5px solid #0087f5;
    background: rgb(225, 221, 226);
}
.cal-error{
    display: none;
    color: crimson;
    font-weight: 800;
    text-transform: uppercase;
    font-size: 0.7em;
    padding-top: 10px;
}
.checkbox{
    font-weight: 600;
}
/* Search Result styles */
.recipe-button-wrapper {
    position: relative;
    padding: 20px 10px;
    z-index: 1;
}
.recipe-button{
    border: 5px solid white;
    background: inherit;
    position: relative;
    width: 100%;
    cursor: pointer;
    box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
}
.recipe-button:hover .view-recipe-wrapper,
.recipe-button:focus .view-recipe-wrapper
{
    opacity: 1;
}
.recipe{
    transition: .5s ease;
    width:100%;
    opacity: 1;
}
.recipe img{
    width: 100%;
}
.recipe-info-container{
    position: relative;
}
.recipe-name{
    text-align: left;
    position: absolute;
    top: 0px;
    left: 0px;
    padding: 15px 25px;
    width: 100%;
    background: rgba(255,255,255,.7);
    text-transform: uppercase;
    font-size: 1.5em;
    font-weight: 800;
    letter-spacing: 0.1em;
}
.recipe-info-wrapper{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    font-size: 1.3em;
    background: #f2f2f2;
    margin-top: -5px;
}
.view-recipe-wrapper{
    transition: .5s ease;
    text-align: center;
    opacity: 1;
    position: absolute;
    top: 40%;
    opacity: 0;
    width: 100%;
    background: rgba(23,23,23,.5);
    text-transform: uppercase;
    padding-top: 7%;
    height: 20%;
}
.view-recipe{
    font-size: 5vw;
    color: white;
    font-weight: 800;
    letter-spacing: .05em;
}
.fetching-info{
    min-height: 400px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.fetching-info img{
    width: max-content;
    align-self: center;
    margin: 50px 0px;
}

.no-recipe-found{
    font-size: 1.1em;
    line-height: 1.5em;
    padding: 30px;
    margin-top: 50px;
}
.q{
    font-weight: 600;
}

/* Styling for Recipe Page*/
.search-result-wrapper[data-page='recipe-page']{
    margin: 0px 10px;
}
.recipe-page-name{
    font-size: 1.3em;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: .1em;
    margin: 70px auto 10px auto;
}
.recipe-page-image{
    width: 100%;
    padding: 5px;
    box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
    border-color: rgba(223,225,229,0);
    background: white;
}
.ingredients
{
    margin-top: 16px;
    box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
    border: 5px solid white;
}
.recipe-instructions-facts{
    margin-top: 20px;
}
.ing-heading-wrapper{
    display: flex;
    margin: 0px 10px;
    justify-content: space-between;
    padding: 20px 10px 20px 10px;
    border-bottom: 2px solid;
    align-items:center;
}
.ing-list-wrapper{
    padding: 20px 0px;
}
li.ing-list-item {
    display: flex;
    padding: 10px 20px;
    justify-content: space-between;
}
li.ing-list-item:nth-of-type(odd){
    background: white;
}
.items-list-item{
    display: flex;
    padding: 10px 0px;
    justify-content: space-between;
}
.ing-name,
.item-name {
    align-self: center;
    flex: 6;
    padding-right: 5px;
    text-transform: capitalize;
    font-weight: 600;
    font-size: .9em;
}
button.remove-button,
button.add-ing-button,
button.grocery-page-remove-button{
    padding: 2px 8px;
    text-transform: uppercase;
    font-size: 1.3em;
    font-weight: 800;
    background: #0065b8;
    align-self: center;
    cursor: pointer;
    font-family: 'Courier New';
    color: white;
    border: none;
}
.instruction-header{
    margin: 0px 10px;
    padding: 10px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .05em;
}
.ins-link-wrapper{
    padding: 10px;
}
.instruction-header-wrapper{
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 0;
    align-items: center;
    padding: 20px 0px;
    box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
    border: 5px solid white;
}
/* Nutritional Facts Table */
.bold, .bold *{
    font-weight: 800;
}
.nutritional-facts-chart-wrapper{
    background: white;
    border: 1px solid black;
    margin: 20px 0px 40px 0px; 
    padding: 0.5rem;
    font-family: sans-serif;
    line-height: 1.4;
    font-size: small;
    box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
}
.nutritional-facts-chart-wrapper *{
    color: black;
    font-family: sans-serif;
}
.facts-header{
    font-size: 2rem;
    margin: 0 0 0.25rem 0;
}
.facts-header-wrapper{
    border-bottom: 10px solid black;
    padding: 0 0 0.25rem 0;
    margin: 0 0 0.5rem 0;
}
.brd-btm{
    border-bottom: 1px solid black;
}
.bold-brdr{
    border-bottom: 5px solid black;
}
.facts-cal-wrapper{
    font-size: 1.6em;
    padding: .1em;
}
.facts-cal-text,
.facts-cal-num{
    padding: 0px 0px 0px 10px !important;
}
.daily-val {
    text-align: right;
    padding: .4em .1em 0 0;
}
.mrgn-left{
    margin-left: 10px;
}
.facts-flex{
    display: flex;
    justify-content: space-between;
}
.facts-flex p{
    padding: .4em 0;
}
.sub-div-1{
    border-bottom: 1px solid black;
}
.sub-div-1 p{
    padding-bottom: 0em !important;
}
.sub-p-1{
    flex: 2;
    align-self:center;
}
.sub-p-2,
.sub-p-3,
.sub-p-4{
    flex: 1;
    text-align: left;
    align-self: center;
}
.facts-sub{
    font-size: 0.8em;
    border-top: 10px solid black;
}
.sub-tab{
    margin-left: 5px;
    margin-right: -5px;
}
.sub-p{
    padding: 5px;
}

/* Grocery List Style */
.grocery-list-page{
    margin: 0px 10px;
}
.grocery-list-page .items-list-item{
    padding: 10px 20px;
}
.grocery-list-page .items-list-item:nth-of-type(odd){
    background: snow;
}
.grocery-list-page .items-list-item:nth-of-type(even){
    background: #dcba006e;
}
.grocery-list-page .items-list{
    box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
}
.add-item-form{
    padding: 40px 0px 20px 0px;
}
.add-item-form legend{
    padding: 10px;
    font-weight: 600;
}
.add-item-form-wrapper{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.no-items-wrapper {
    position: relative;
    z-index: -1;
}
img.empty-item-image {
    width: 100%;
    box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
    border: 5px solid white;
}
h4.no-item-header,
h4.items-header {
    text-transform: uppercase;
    font-weight: 800;
    text-align: center;
    border-bottom: 2px solid #00447f;
}
h4.items-header{
    margin-bottom: 20px;
}
h4.no-item-header{
    position: absolute;
    left: 0px;
    top: 115px;
    width: 100%;
    padding: 30px;
    border-top: 2px solid #00447f;
    background: rgba(255,255,255,0.9);
}
p.img-source {
    position: relative;
    font-size: .6em;
    text-align: right;
    top: -40px;
    color: white;
    padding: 10px;
}
p.img-source a{
    color: white;
    text-decoration: underline;
}
.update-wrapper {
    flex: 0;
    position: relative;
}
span.update-user {
    display: none;
    position: absolute;
    top: 3px;
    left: 04px;
    width: max-content;
    background: gray;
    color: white;
    padding: 3px 5px;
    font-size: 0.7em;
}
@media only screen and (min-width:480px){
    .container{
        max-width: 100%;
    }
    .search-form{
        margin: auto;
        max-width: 600px;
    }
    .filter-drop-down-menu-wrapper{
        max-width: 580px;
    }
    .search-result-wrapper[data-page="grocery"],
    .search-result-wrapper[data-page="search-result"],
    .search-result-wrapper[data-page="recipe-page"]{
        max-width: 500px;
        margin: auto;
        padding: 0px 10px;
    }
}
@media only screen and (min-width:660px){
    .search-result-wrapper[data-page="search-result"]{
        max-width: 1000px;
        margin: auto;
        padding: 0px 30px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .recipe-button-wrapper{
        max-width: 300px;
        margin: auto;
    }
    .view-recipe-wrapper{
        padding-top: 8%;
    }
    .view-recipe{
        font-size: 1.3em;
    }
    .recipe-info-wrapper{
        font-size: 1em;
    }
}