/* Global Styles */
*{
    box-sizing: border-box;
    font-family: sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
}

/* Landing Page */
.landing-page{
    height: 100%;
}
.header-section{
    display: flex;
    align-items: center;
}
.logo{
    text-align: center;
    font-size: 1.6em;
    text-transform: uppercase;
    font-weight: 800;
    padding: 20px;
}
.search-form fieldset{
    border: none;
    padding: 10px;
}
.search-textbox{
    width: 100%;
    padding: 10px 15px;
    font-size: 1em;
    border-radius: 25px;
    border: none;
    margin-bottom: 5px;
    cursor: pointer;
}
.search-textbox:focus,
.search-textbox:hover{
    box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
    border-color: rgba(223,225,229,0);
}
.search-textbox:focus{
    cursor: text;
}
.filter-button{
    position: relative;
    border: none;
    text-decoration: underline;
    color: blue;
    background: inherit;
    font-size: .9em;
    padding: 5px 15px;
    z-index: 2;
    top:1px;
    cursor: pointer;
    margin: 1px;
}
.clicked{
    margin: 0px;
    border: 1px solid black;
    border-bottom-color: silver;
    background: silver;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.filter-drop-down-menu{
    display: none;
}