*{
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
}

.container{
    max-width: 480px;
    margin: auto;
}

body, p, h1, h2, h3, h4, h5, h6,
ul, li, a, button, form, fieldset, legend,
input, div, header{
    padding: 0;
    margin: 0;
}

ul{
    list-style: none;   
}

a{
    text-decoration: none;
}

/* Landing Page */
.logo{
    text-transform: uppercase;
    text-align: center;
    padding: 10px;
}