/* Global Styles */
*{
    box-sizing: border-box;
    font-family: sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
}

.container{
    max-width: 480px;
    margin: auto;
}

.landing-page{
    height: 100%;
}

body, p, h1, h2, h3, h4, h5, h6,
ul, li, a, button, form, fieldset, legend,
input, div, header{
    padding: 0;
    margin: 0;
}

body{
    background: lightgray;
}

html, body{
    height: 100%;
}

ul{
    list-style: none;   
}

a{
    text-decoration: none;
}

/* Landing Page */
.landing-page{
    height: 100%;
}
.header-section{
    display: flex;
    align-items: center;
}
